table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #424242;
    text-align: left;
}

th {
    background-color: #474747;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}